{% extends 'base.html.twig' %}

{% block titre %}

<h3 class="text-center">Formulaire de Contact</h3>

{% endblock titre %}
{%  block contenu %}

{# La méthode form permet d'afficher le formulaire dans la vue #}

{{ form  (formcontact) }}

{% endblock %}